/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
laptop_legendofporg
laptop_legendofporg.pub
/redis-5.0.7
redis-5.0.7.tar.gz